# DB Configuration
DBHOST=localhost
DBUSER=root
DBPASSWORD=aanal
DATABASE=bledemo

# Server Environment
PORT=

#SMTP
SMTP_FROM=
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=

#JWL
JWT_SECRET=

# Media Server
MEDIA_PATH=
